<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link routerLink="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <title>START</title>
</head>

<body>
    <div class="page-intro">
        <h1>ANGULAR ACE</h1>
    </div>
    <div class="container">


        <div class="card-group">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">SARA CHEN</h5>
                    <h6 class="card-subtitle mb-2 text-muted">MIT 2007</h6>
                    <p class="card-text">An angular developer woking in the field of front-end since pase 10 years.</p>
                    <a routerLink="#" class="card-link">LinkedIn</a>
                    <a routerLink="#" class="card-link">Slack</a>
                </div>
            </div>


            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">ALEX LEE</h5>
                    <h6 class="card-subtitle mb-2 text-muted">STANFORD UNIVERSITY 2010</h6>
                    <p class="card-text">In the field of software developement for past 8 years.</p>
                    <a routerLink="#" class="card-link">LinkedIn</a>
                    <a routerLink="#" class="card-link">Slack</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Emma Fisher</h5>
                    <h6 class="card-subtitle mb-2 text-muted">IIT 2015</h6>
                    <p class="card-text">In the field of front-end development for past 3 years.</p>
                    <a routerLink="#" class="card-link">LinkedIn</a>
                    <a routerLink="#" class="card-link">Slack</a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-tagline">
        <p>Join our experts on their socials to ask doubt anytime , anywhere.</p>
    </div>

</body>
</html>