body{
    background-color: rgba(17, 17, 62, 0.963);
    height: 100vh;
        
    }
.navbar {
    height: 8vh;
    background-color:rgba(3, 3, 80, 1);
    display: flex;
    color: white;

}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 1vh;
    margin: 1vh;
    font-size: 2.2vh;
}

.for-pwd{
    color: white;
    position: absolute;
    top: 25%;
    left: 35%;
    margin-top: 15vh;
    margin-left: 7vh;
}

.box input {
    background: none;
    border: 0ch;

}

.box i {
    width: 4vh;
    text-align: center;

}

.btn:hover {
    background-color: rgb(3, 53, 74);
    color: white;

}
.box {
    padding: 1vh;
    border-bottom: 0.1vh solid white;
}

.feild {
    height: 5vh;
    color: white;
    width: 49vh;
    font-size: 2.3vh;
}

.button{
    display: flex;
}

.btn {
    padding: 1vh;
    display: block;
    background: none;
    margin: 2vh;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    font-size: 1.6vh;

}
.btn2 {
    padding: 1vh;
    display: block;
    background: none;
    margin: 2vh;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    font-size: 1.6vh;


}
.btn2 a{
    text-decoration: none;
    color: white;
}
.btn2:hover {
    background-color: rgb(3, 53, 74);
    color: white;
}



