<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="page-intro">
        <h1>ANGULAR ACE</h1>
    </div>

    <div class="container">
        <div class="card-group">
            <div class="card">
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h5 class="card-title">ANGULAR BASICS</h5>
                        <p calss="card-text"></p>
                        <a routerLink="#">START</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h5 class="card-title">ANGULAR COMPONENTS</h5>
                        <p calss="card-text"></p>
                        <a routerLink="#">START</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h5 class="card-title">ROUTING IN ANGULAR</h5>
                        <p calss="card-text"></p>
                        <a routerLink="#">START</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h5 class="card-title">DIRECTIVES IN ANGULAR</h5>
                        <p calss="card-text"></p>
                        <a routerLink="#">START</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h5 class="card-title"> ALL ABOUT HTTP REQUESTS</h5>
                        <p calss="card-text"></p>
                        <a routerLink="#">START</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h5 class="card-title">BEST PRACTICES</h5>
                        <p calss="card-text"></p>
                        <a routerLink="#">START</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-tagline">
        <p>Build real-world projects with angular "Practical Tutorials for Web Developers".</p>
    </div>

</body>

</html>